[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pytest = "*"
argparse = "*"
pandas = "*"
pypdf2 = "*"
pdfminer = "*"

[requires]
python_version = "3.6"
